@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    width: 1440px;
    height: 1080px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.animationSlideUp {
    animation: slideUp ease 2s forwards;
}
.container {
    max-width: 920px;
    background-color: white;
    border-radius: 20px;

    padding: 25px 25px 25px 63px;
    /* max-width: 505px; */
    /* padding: 48px 65px 64px 65px; */
}

.formLetterStart {
    display: flex;
    align-items: center;
}
.formLetterStart__content {
    margin: 75px 65px 70px 0;
}
.formLetterStart__content-title {
    font-size: 50px;
    margin-bottom: 25px;
}
.formLetterStart__content-des {
    margin-bottom: 30px;
}
.formLetterStart__content-benefit {
    margin-bottom: 10px;
}
.formLetterStart__content-benefit::before {
    content: url('./assets/images/icon-list.svg');
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.formLetterStart__content-inputEmail {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}
.formLetterStart__content-inputEmail label {
    font-size: 14px;
    font-weight: 700;
}
.formLetterStart__content-inputEmail .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
#email {
    height: 55px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 25px;
    cursor: pointer;
}
.formLetterStart__content-submit {
    width: 367px;
    height: 55px;
    background-color: hsl(234, 29%, 20%);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    padding-top: 23px;
    padding-bottom: 16px;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(to right, #ff5478, #ff693e);
        box-shadow: 0 15px 45px -8px hsl(4, 100%, 67%);
    }
}
.formLetterEnd {
    display: none;
    flex-direction: column;
    max-width: 505px;
}
.formLetterEnd-title {
    font-size: 55px;
    line-height: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.formLetterEnd-title::before {
    content: url('./assets/images/icon-success.svg');
    margin-bottom: 30px;
}
.formLetterEnd-content {
    font-size: 16px;
    margin-bottom: 45px;
}
.formLetterEnd-submit {
    width: 100%;
    height: 55px;
    font-weight: 700;
    color: white;
    background-color: hsl(234, 29%, 20%);
    border: none;
    cursor: pointer;
    padding: 20px 0 20px 0;
    &:hover {
        background-image: linear-gradient(to right, #ff5478, #ff693e);
        box-shadow: 0 15px 45px -8px hsl(4, 100%, 67%);
    }
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(0, -180%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* inValid */
.inValid .validMessage {
    color: red;
}
.inValid #email {
    border: 1px solid red;
    color: red;
    background-color: rgb(247, 225, 225);
}
